* {
    font-family: "Roboto";
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

body {
    background-color: #333;
}

.header-site {
    padding: 16px;
    border-bottom: 1px solid #555;
}

.container {
    width: 90%;
    margin: 18px auto;
    color: #eee;
}